.form {
  width: 400px;
  padding: 20px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 20px;
  color: blue;
}
.labelText {
  margin-top: 0;
  margin-bottom: 12px;
  font-weight: 600;
  font-size: 18px;
}
