.form {
  width: 400px;
  margin: 0 auto;
  border: 0.5px solid black;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 20px;
  color: teal;
}
.labelText {
  margin-top: 0;
  margin-bottom: 12px;
  font-weight: 600;
  font-size: 16px;
}

input::placeholder {
  font-weight: 400;
  font-size: 12px;
  opacity: 0.5;
  color: red;
}
.buttonForm {
  align-self: flex-start;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  background-color: rgb(210, 220, 220);
  color: black;
  font-weight: 500;
  font-size: 12px;
}
.buttonForm:hover,
.buttonForm:focus {
  background-color: teal;
  color: white;
}
